@use '../../styles/mq.scss';

.text {
	padding: 0;
	margin: 0;
	margin-top: 2em;
	column-width: 40ch;
	column-gap: 2em;
}

.portraitWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.portrait {
	display: block;
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;

	@include mq.smallScreen {
		font-size: var(--fontSize4);
		width: 3.5em;
		height: 3.5em;
		max-width: 20rem;
		max-height: 20rem;
	}
}
