@use '../../styles/animations.scss';

.header {
	background-color: var(--bgCol);
	min-height: 100vh;
	display: grid;
	align-content: center;
	color: var(--fontCol);
	border-bottom: var(--borderWidth) solid var(--separatorCol);

	@include animations.fadeIn;
}

.heading {
	margin: 0;
	padding: 0 0.2em;
	max-width: 8em;
	height: 1em;
	overflow: hidden;
	line-height: 1;
}

.headingContent {
	--delay: 0;
	--duration: 12s;
	transform: translateY(0);

	@media (prefers-reduced-motion: no-preference) {
		animation: moveUp ease-in-out infinite forwards;
		animation-duration: var(--duration);
		animation-delay: calc(var(--delay) * (var(--duration) / 10));
	}

	@keyframes moveUp {
		0% {
			transform: translateY(0);
		}
		26% {
			transform: translateY(0);
		}
		33% {
			transform: translateY(-33.333%);
		}
		60% {
			transform: translateY(-33.333%);
		}
		67% {
			transform: translateY(-66.667%);
		}
		93% {
			transform: translateY(-66.667%);
		}
	}
}

.headingText {
	// // font-family: "Mr Pixel", monospace;
	// font-family: "Grotesk", monospace;
	// // font-family: "Bungee Shade", monospace;
	// // font-family: "Geostar", monospace;
	// // font-family: "Kumar One Outline", monospace;
	// // font-family: "Megrim", monospace;
	// font-family: "Bungee Outline", monospace;
	// // font-family: "Monoton", monospace;
	// // font-family: "Lineal", monospace;
	// font-family: "Soulcraft", monospace;

	font-weight: bold;
	text-transform: uppercase;
	// font-style: oblique;
}
