@use ".././../styles/mq.scss";

$maxWidth: 38rem;

@mixin fakeGap {
	[class~="ua-safari"] &,
	[class~="ua-legacy-edge"] & {
		@media screen and (min-width: $maxWidth) {
			@content;
		}
	}
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;

	@media screen and (min-width: $maxWidth) {
		justify-content: center;
	}

	@include fakeGap {
		gap: 0;
	}
}

.img {
	max-width: calc(#{$maxWidth} - (2 * var(--sideSpacing)));

	@include fakeGap {
		padding: 0 1em;
	}
}

.body {
	max-width: 55ch;

	@media screen and (min-width: $maxWidth) {
		text-align: justify;
	}

	@include fakeGap {
		padding: 0 1em;
	}
}
