@use '../../styles/mq.scss';

.wrapper .img {
	--sizeOverride: 5rem;

	@include mq.smallScreen {
		--sizeOverride: 1.2em;
	}

	// If the browser supports max use it to get a more precise value.
	// Otherwise the size might jump when changing screen sizes
	@supports (width: max(1px, 2px)) {
		--sizeOverride: max(5rem, 1.2em);
	}
}
