@use '../../styles/mq.scss';
@use '../../components/Card/Card.vars.scss';

.description {
	margin: 0;
	max-width: 60ch;
	padding: 1em 0 2em 0;
}

.cards {
	--minCardWidth: 1fr;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--minCardWidth), 1fr));
	@include mq.smallScreen {
		--minCardWidth: #{Card.$desktopMinWidth};
	}
	grid-auto-rows: auto;
	gap: var(--innerSpacing);
}
