@mixin style($style) {
	@if $style != oblique and $style != normal {
		@error "Property #{$style} must be either oblique or normal.";
	}
	font-style: $style;
	@if $style == oblique {
		--fontSlant: -10;
	} @else {
		--fontSlant: 0;
	}
}

@mixin weight($weight) {
	font-weight: $weight;
	--fontWeight: #{$weight};
}
