$black: hsl(0, 0%, 8%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 20%);
$lightGray: hsl(0, 0%, 90%);
$translucentGray: hsla(0, 0%, 0%, 0.3);
// $accent: hsl(143, 82%, 47%);
// $accent: hsl(152, 100%, 50%);
$accent: hsl(318, 100%, 64%);
$accentLight: hsl(318, 98%, 35%);
$accentSecondary: hsl(318, 82%, 47%);
$accentGradient: linear-gradient(160deg, $accent, $accentSecondary);

:root {
	--bgCol: #{$black};
	--fontCol: #{$white};
	--accentCol: #{$accent};
	--accentGradient: #{$accentGradient};
	--separatorCol: #{$darkGray};
	--shadowCol: #{$translucentGray};

	--borderRadius: 0;
	--borderWidth: 0.15rem;
	--bannerFontSize: var(--fontSize2);
	--bannerHeight: calc(var(--fontSize2) * 1.7);
}

@media (prefers-color-scheme: light) {
	:root {
		--bgCol: #{$white};
		--fontCol: #{$black};
		--accentCol: #{$accent};
		--accentGradient: #{$accentGradient};
		--separatorCol: #{$lightGray};
		--shadowCol: #{$translucentGray};
	}
}
