@function size($ratio) {
	@return calc(#{$ratio} * var(--size));
}

$phoneWidth: size(4.1);
$phoneHeight: size(7.5);

.wrapper {
	--size: var(--sizeOverride, 1rem);
	width: 100%;
	display: flex;
	justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, #{$phoneWidth});
	grid-template-rows: repeat(1, 1fr);
	justify-content: space-around;
	gap: size(0.5);
	width: 100%;
	max-width: 20rem;
	height: size(7.5);
}

.phone {
	$phoneTopWidth: size(0.6);
	$phoneBottomWidth: size(0.9);

	position: relative;
	overflow: hidden;
	border: size(0.3) solid var(--fontCol);
	border-top-width: $phoneTopWidth;
	border-bottom-width: $phoneBottomWidth;
	border-radius: size(0.5);

	// &::before {
	// 	$speakerWidth: 0.6rem;
	// 	$speakerHeight: 0.1rem;

	// 	content: "";
	// 	position: absolute;
	// 	top: calc(-1 * (#{$phoneTopWidth} + #{$speakerHeight}) / 2);
	// 	left: calc(50% - (#{$speakerWidth} / 2));
	// 	display: block;
	// 	width: $speakerWidth;
	// 	height: $speakerHeight;
	// 	background: #999;
	// 	border-radius: 999em;
	// }

	// &::after {
	// 	$homeButtonSize: 0.6rem;

	// 	content: "";
	// 	position: absolute;
	// 	bottom: calc(-1 * (#{$phoneBottomWidth} + #{$homeButtonSize}) / 2);
	// 	left: calc(50% - (#{$homeButtonSize} / 2));
	// 	display: block;
	// 	width: $homeButtonSize;
	// 	height: $homeButtonSize;
	// 	background: #222;
	// 	border-radius: 999em;
	// }
}

@function gradient($startHue) {
	@return linear-gradient(
		90deg,
		#{hsl }(#{($startHue + 0) % 360}, 90%, 60%) 5%,
		#{hsl }(#{($startHue + 72) % 360}, 90%, 60%) 20%,
		#{hsl }(#{($startHue + 144) % 360}, 90%, 60%) 40%,
		#{hsl }(#{($startHue + 216) % 360}, 90%, 60%) 60%,
		#{hsl }(#{($startHue + 288) % 360}, 90%, 60%) 80%,
		#{hsl }(#{($startHue + 360) % 360}, 90%, 60%) 95%
	);
}

.phoneBg {
	// The maximum element width to be optimized for animating
	// translation in firefox is 3277 for some reason...
	$bgWidth: 3276px;
	height: 100%;
	width: $bgWidth;
	background: gradient(0);
	animation: move 10s linear infinite forwards;

	.phone:nth-child(2) & {
		background: gradient(30);
	}
	.phone:nth-child(3) & {
		background: gradient(60);
	}

	--translateX: calc(-1 * (#{$bgWidth} - #{$phoneWidth}));

	@keyframes move {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(var(--translateX));
		}
	}
}
