@use '../../styles/mq.scss';

.wrapper p {
	column-width: 45ch;
	column-gap: 2em;
}

.img {
	width: 100%;
	font-size: var(--fontSize4);
	padding: 0.75em 0;

	svg {
		@include mq.wideScreen {
			--size: 10rem;
		}
		@include mq.hugeScreen {
			--size: 14rem;
		}
	}
}
