@use '../../styles/mq.scss';

.abstract {
	color: var(--dimmedFontCol);
	padding: 0 var(--sideSpacing);
	column-width: 40ch;
	column-gap: 2em;
}

.details {
	margin-bottom: 1em;
	cursor: pointer;
}

.img {
	--sizeOverride: 1.2em;

	@include mq.smallScreen {
		--sizeOverride: 1.5em;
	}
}
