.wrapper {
	column-width: 45ch;
	column-gap: 2em;
}

.abstract {
	opacity: 0.8;
	padding: 0 var(--sideSpacing);
}

.details {
	margin-bottom: 1em;
}

.img {
	font-size: var(--fontSize4);
	padding: 0.75em 0;
}
