@use '../../styles/mq.scss';

.wrapper .img {
	--sizeOverride: 1rem;

	@include mq.smallScreen {
		--sizeOverride: calc(0.35 * var(--fontSize3));
	}
}

.caption {
	line-height: var(--lineHeight);
	padding: 1em 1em;
	text-align: center;
	color: var(--dimmedFontCol);
}

.figure {
	padding-top: calc(2 * var(--innerSpacing));
	margin: 0;
}
