@use '../../styles/fluid.scss';
@use '../../styles/mq.scss';

.footer {
	background: var(--bgCol);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	$paddingTopBottom: calc(4 * var(--innerSpacing));
	$paddingLeftRight: var(--sideSpacing);
	padding-top: $paddingTopBottom;
	padding-right: $paddingLeftRight;
	padding-bottom: $paddingTopBottom;
	padding-left: $paddingLeftRight;
	color: var(--fontCol);
	border-top: var(--borderWidth) solid var(--separatorCol);

	@include mq.wideScreen {
		justify-content: flex-end;
	}
}

.navLink {
	height: 3em;
	border: none;

	&::after {
		display: none;
	}

	@include mq.wideScreen {
		justify-content: end;
		padding: 0;
	}
}
