.body {
	column-width: 40ch;
	column-gap: 2em;
}

.img {
	width: 100%;
	$paddingTopBottom: calc(0.5 * var(--fontSize4));
	padding-top: $paddingTopBottom;
	padding-right: 0;
	padding-bottom: $paddingTopBottom;
	padding-left: 0;

	--baseSize: var(--fontSize4);

	--size: calc(2 * var(--fontSize4));
	--sizeOverride: calc(2 * var(--fontSize4));
}
