@use '../../styles/transitions.scss';
@use '../../styles/mq.scss';

.navList {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.navLink {
	display: inline-grid;
	place-content: center;
	color: var(--fontCol);
	text-decoration: none;
	height: 4em;
	width: 10em;
	padding: 0 2em;
	text-transform: uppercase;
	font-style: oblique;
	border-bottom: 1px solid var(--fontCol);
	li:last-child & {
		border-bottom: none;
	}

	// Disable color transitions for links on mobile.
	// They are barely noticable, as the menu disapears
	// at the same time as the color changes.
	// This way the transition is much smoother
	transition: none;

	@include mq.wideScreen {
		height: var(--bannerHeight);

		@include transitions.add(font-weight 300ms ease);

		&,
		li:last-child & {
			border: none;
		}
	}
}

.activeLink {
	color: var(--accentCol);
	font-weight: bold;
}

@include mq.wideScreen {
	.navLink {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: calc(-0.5 * var(--borderWidth));
			width: 100%;
			height: var(--borderWidth);
			background: var(--accentCol);
			opacity: 0;

			@include transitions.add(opacity 300ms ease);
		}

		&:hover::after {
			opacity: 0.5;
		}

		&.activeLink::after {
			opacity: 1;
		}
	}
}
