@use '../../styles/transitions.scss';
@use '../../styles/mq.scss';
@use '../../styles/font.scss';

.navList {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.navLink {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	height: 4em;
	width: 12em;
	text-transform: uppercase;
	@include font.style(oblique);
	border-bottom: 1px solid var(--fontCol);
	li:last-child & {
		border-bottom: none;
	}

	&,
	&:active,
	&:visited,
	&:hover {
		color: var(--fontCol);
	}

	// Disable color transitions for links on mobile.
	// They are barely noticable, as the menu disapears
	// at the same time as the color changes.
	// This way the transition is much smoother
	transition: none;

	@include mq.wideScreen {
		height: var(--bannerHeight);

		@include transitions.add(font-weight 300ms ease);

		&,
		li:last-child & {
			border: none;
		}
	}
}

.activeLink {
	&,
	&:active,
	&:visited,
	&:hover {
		color: var(--accentCol);
	}
	@include font.weight(700);
}

@include mq.wideScreen {
	.navLink {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: calc(-0.5 * var(--borderWidth));
			width: 100%;
			height: var(--borderWidth);
			background: var(--accentCol);
			opacity: 0;

			@include transitions.add(opacity 300ms ease);
		}

		&:hover::after,
		&:focus-visible::after {
			opacity: 0.5;
		}

		&:hover,
		&:focus-visible {
			color: var(--accentCol);
		}

		&.activeLink::after {
			opacity: 1;
		}
	}
}
