@use '../../styles/transitions.scss';
@use '../../styles/mq.scss';
@use '../../styles/font.scss';

.banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bgCol);
	height: var(--bannerHeight);
	padding: 0 var(--sideSpacing);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--fontCol);
	z-index: 70;
	border-bottom: var(--borderWidth) solid var(--separatorCol);
	pointer-events: auto;
	opacity: 1;

	@include transitions.add(opacity 200ms ease);
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.headingWrapper {
	display: flex;
	flex-direction: column;
	height: var(--bannerHeight);
}

.heading {
	display: grid;
	align-content: center;
	height: var(--bannerHeight);
	margin: 0;
	flex-shrink: 0;
	@include font.style(oblique);
	text-transform: uppercase;
	font-size: var(--bannerFontSize);
	pointer-events: none;
	opacity: 0;
	transform: translateY(calc(-1 * var(--i) * var(--bannerHeight)));

	@include transitions.add(opacity 400ms ease-in-out);
}

.activeHeading {
	pointer-events: auto;
	opacity: 1;
}

.backButton {
	flex-shrink: 0;
	color: inherit;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: var(--fontSize1);
	@include font.weight(500);
	line-height: 1;
}

.backIcon {
	width: 1em;
	height: 1em;
}

.bannerNav {
	display: none;
	@include mq.wideScreen {
		display: flex;
		align-items: center;
	}
}

.navList {
	display: flex;
	flex-direction: row;
}

.navLink {
	padding: 0 1.5em;
	width: 8em;

	@media screen and (min-width: 80em) {
		padding: 0 2em;
		width: 10em;
	}
}
